{%extends 'fundamental_five.html' %} {%block title%} Signup {%endblock%}
 {%block h1%} Signup {%endblock%} 

  {%block content%}
  {%if messages%}
 {%for message in messages%}
 <label>{{message}}</label>
{%endfor%}
{%endif%}
  <form method="POST">
    {% csrf_token %} {{form}}<button type="submit">Signup</button>
  </form>

  {%endblock%}
</label>
